@tailwind base;
@tailwind components;
@tailwind utilities;

.dataTables_paginate a {
    padding: 6px 9px !important;
    background: #ddd !important;
    border-color: #ddd !important;
}

.dataTables_length, label, select{
    padding-right: 25px !important;

}
